*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Roboto", sans-serif;
  color: #424242;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 6rem 80vh min-content min-content repeat(3, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 62.5em) {
    .container {
      grid-template-rows: 6rem 80vh min-content min-content repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }
  @media only screen and (max-width: 50em) {
    .container {
      grid-template-rows: 6rem calc(100vh - 6rem); } }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-weight: 400; }

.heading-1 {
  font-family: "Allura", sans-serif;
  font-size: 6.5rem;
  font-weight: 600;
  color: #f9f7f6;
  line-height: 1;
  justify-self: center; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: italic; }
  .heading-2--white {
    color: #fff; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #616161; }

.heading-3 {
  font-size: 3.6rem;
  color: #1DE9B6;
  justify-self: center; }

.heading-4 {
  font-size: 1.9rem; }
  .heading-4--light {
    color: #f9f7f6; }
  .heading-4--dark {
    color: #616161; }

.btn {
  background-color: #1DE9B6;
  color: #fff;
  border: none;
  border-radius: "Roboto", sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding: 1.8rem 3rem;
  cursor: pointer;
  transition: all .2s; }
  .btn-subscribe {
    margin: 20px; }
  .btn:hover {
    background-color: #00BFA5; }

a {
  text-decoration: none; }

.mb-sm {
  margin-bottom: 2rem; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-xl {
  margin-bottom: 8rem; }

.navbar {
  position: sticky;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #1DE9B6;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  z-index: 30; }

.title {
  color: #fff;
  font-family: "Allura", sans-serif;
  font-size: 3.25rem; }

.navlink {
  display: flex;
  justify-content: space-around;
  width: 35%; }

.navlink li {
  list-style: none; }

.navlink a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 1rem; }

.menu {
  display: none;
  cursor: pointer; }
  .toggle .menu__line-1 {
    transform: rotate(-45deg) translate(-5px, 6px); }
  .toggle .menu__line-2 {
    opacity: 0; }
  .toggle .menu__line-3 {
    transform: rotate(45deg) translate(-5px, -6px); }

.menu div {
  width: 4rem;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all .3s ease; }

@media screen and (max-width: 62.5em) {
  .navlink {
    width: 60%; } }

@media screen and (max-width: 50em) {
  body {
    overflow-x: hidden; }
  .navlink {
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 6vh;
    background-color: #1DE9B6;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    visibility: none;
    transition: transform .5s ease-in; }
  .navlink li {
    opacity: 0; }
  .menu {
    display: block; } }

.nav-active {
  transform: translateX(0%);
  visibility: visible; }

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px); }
  to {
    opacity: 1;
    transform: translateX(0px); } }

#particles canvas {
  position: absolute;
  width: 100%;
  height: 100%; }

.skills {
  grid-column: center-start / center-end;
  padding: 15rem 0 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem;
  align-items: start; }

.skill {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem; }
  .skill__icon {
    fill: #1DE9B6;
    width: 8rem;
    height: 8rem;
    grid-row: 1 / span 2; }
  .skill__text {
    font-size: 1.7rem; }

.header {
  background-color: #616161;
  grid-column: full-start / col-end 7;
  background-image: linear-gradient(rgba(97, 97, 97, 0.63), rgba(97, 97, 97, 0.63)), url(../img/rwd.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 8rem;
  padding-top: 4rem;
  display: grid;
  grid-template-rows: 1fr min-content minmax(6rem, min-content) 1fr;
  grid-template-columns: minmax(min-content, max-content);
  grid-row-gap: 1.5rem;
  justify-content: center; }
  @media only screen and (max-width: 50em) {
    .header {
      grid-column: 1 / -1; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 5rem; } }
  .header__logo {
    height: 10rem;
    justify-self: center; }
  .header__btn {
    align-self: start;
    justify-self: center; }
  .header__tech-text {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1.5rem;
    align-items: center;
    font-size: 1.6rem;
    color: #fff; }
    .header__tech-text::before, .header__tech-text::after {
      content: "";
      height: 1px;
      display: block;
      background-color: currentColor; }
  .header__tech-logos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20rem;
    justify-items: center;
    align-items: center; }
  .header__icon {
    max-height: 2.5rem;
    max-width: 100%;
    fill: #fff;
    width: 3rem;
    height: 3rem; }

.social {
  background-color: #424242;
  grid-column: col-start 8 / full-end;
  padding: 3rem;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  grid-row-gap: 0rem; }
  @media only screen and (max-width: 50em) {
    .social {
      grid-column: 1 / -1; } }
  .social__list {
    display: grid;
    grid-template-columns: min-content max-content;
    grid-column-gap: 2rem;
    grid-row-gap: 0vh;
    align-items: center; }
    @media only screen and (max-width: 50em) {
      .social__list {
        grid-template-columns: repeat(3, min-content max-content); } }
    @media only screen and (max-width: 37.5em) {
      .social__list {
        grid-template-columns: min-content max-content; } }
  .social__icon {
    fill: #fff;
    width: 5rem; }

.about__summary {
  background-color: #616161;
  grid-column: full-start / col-end 4;
  color: #fff;
  padding: 10rem;
  font-size: 3rem; }
  @media only screen and (max-width: 50em) {
    .about__summary {
      grid-column: 1 / -1; } }
  .about__summary a:link {
    color: #1DE9B6; }

.about__twitter {
  background-color: #BDBDBD;
  grid-column: col-start 5 / full-end;
  padding: 4rem; }
  @media only screen and (max-width: 50em) {
    .about__twitter {
      grid-column: 1 / -1; } }

.story__pictures {
  background-color: #1DE9B6;
  grid-column: col-start 5 / full-end;
  background-image: linear-gradient(rgba(29, 233, 182, 0.5), rgba(29, 233, 182, 0.5)), url(../img/business.jpg);
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .story__pictures {
      grid-column: 1 / -1;
      padding: 6rem; } }

.story__img--1 {
  width: 100%;
  grid-row: 2 / 6;
  grid-column: 2 / 6;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1); }
  @media only screen and (max-width: 50em) {
    .story__img--1 {
      grid-column: 3 / 7;
      grid-row: 1 / -1; } }

.story__img--2 {
  width: 100%;
  grid-row: 1 / 4;
  grid-column: 1 / 4;
  z-index: 20;
  transform: translateX(-5rem);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2); }
  @media only screen and (max-width: 50em) {
    .story__img--2 {
      grid-row: 1 / -1;
      transform: translateX(0); } }

@media only screen and (max-width: 50em) {
  .story {
    grid-column: 1 / -1; } }

.story__content {
  background-color: #616161;
  grid-column: full-start / col-end 4;
  padding: 6rem 8vw;
  /* Flexbox Method
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        */
  display: grid;
  align-content: center;
  justify-items: start; }
  @media only screen and (max-width: 50em) {
    .story__content {
      grid-column: 1 / -1; } }

.story__text {
  color: #fff;
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 4rem; }

.apps {
  grid-column: center-start / center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem; }

.app {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  .app__img {
    width: 100%;
    grid-column: 1 / -1;
    transform: translate(50%);
    transition: all .2s;
    z-index: 29; }
  .app__img:hover {
    transform: scale(1.05) translate(47.5%); }
  .app__name {
    grid-column: 1 / -1;
    justify-self: center;
    align-self: end;
    z-index: 3;
    width: 45%;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    color: #1DE9B6;
    font-weight: 400; }
  .app__btn {
    grid-column: 1 / -1;
    justify-self: center;
    width: 45%;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    text-align: center;
    padding: 1.25rem;
    margin: .5rem;
    background-color: #1DE9B6;
    color: #fff;
    font-weight: 400; }
  .app__a {
    text-decoration: none; }

.email {
  background-color: #616161;
  display: grid;
  grid-column: full-start / full-end;
  align-items: center;
  justify-items: center; }
  .email__btn {
    margin: 20px 20px;
    width: 27%;
    text-align: center;
    align-items: center;
    justify-items: center; }

.footer {
  background-color: #424242;
  grid-column: full-start / full-end;
  padding: 8rem; }

.nav {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-gap: 2rem; }
  .nav__link:link, .nav__link:visited {
    font-size: 1.4rem;
    color: #fff;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    transition: all .2s; }
  .nav__link:hover, .nav__link:active {
    background-color: rgba(255, 255, 255, 0.05); }

.copyright {
  font-size: 1.4rem;
  color: #BDBDBD;
  margin-top: 6rem;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  width: 70%; }
