.about {

    &__summary {
        background-color: $color-grey-dark-1;
        grid-column: full-start / col-end 4;

        color: $color-white;
        padding: 10rem;
        font-size: 3rem;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
        }
    }

    &__twitter {
        background-color: $color-grey-light-2;
        grid-column: col-start 5 / full-end;

        padding: 2rem;

        @media only screen and (max-width: $bp-medium) {
            grid-column: 1 / -1;
        }
    }

    


   

    
}