.apps {
    grid-column: center-start / center-end;
    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
    
    
}

.app {

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    

    &__img {
        width: 100%;
        grid-column: 1 / -1;
        transform: translate(50%);
        transition: all .2s;
        z-index: 29;
    }

    &__img:hover {
        transform: scale(1.05)  translate(47.5%); 
    }

    &__name {

        
        grid-column: 1 / -1;
        justify-self: center;
        align-self: end;
        z-index: 3;

        width: 45%;
        font-family: $font-primary;
        font-size: 1.6rem;
        text-align: center;
        padding: 1.25rem;
        color: $color-primary;
        font-weight: 400;
    }

    &__btn {
        grid-column: 1 / -1;
        justify-self: center;
        width: 45%;
        font-family: $font-primary;
        font-size: 1.6rem;
        text-align: center;
        padding: 1.25rem;
        margin: .5rem;
        background-color: $color-primary;
        color: $color-white;
        font-weight: 400;
    }

    &__a {
        text-decoration: none;
    }
    
    


}