// COLOR VARIABLES
$color-primary: #1DE9B6;
$color-primary-dark: #00BFA5;

$color-secondary: #000;

$color-white: #fff;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #BDBDBD;

$color-grey-dark-1: #616161;
$color-grey-dark-2: #424242;

// FONT VARIABLES
$font-primary: 'Roboto', sans-serif;
$font-display: 'Allura', sans-serif;

//Responsive breakpoints
$bp-xlarge: 75em; // 1200px / 16
$bp-large: 62.5em; // 1000px / 16
$bp-medium: 50em; // 880 px / 16
$bp-small: 37.5em; // 600 px / 16

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    scroll-behavior: smooth;
    //height: 100%;

    box-sizing: border-box;
    font-size: 62.5%; //10px/16px = 62.5% -> 1rem = 10px

    @media only screen and (max-width: $bp-xlarge) {
        font-size: 50%;
    }
}

body {
    //height: 100%;
    
    font-family: $font-primary;
    color: $color-grey-dark-2;
    font-weight: 300;
    line-height: 1.6;

}

.container {
    display: grid;
    grid-template-rows: 6rem 80vh min-content min-content repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr)
     [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end]
      minmax(6rem, 1fr) [full-end];

    @media only screen and (max-width: $bp-large) {
        grid-template-rows: 6rem 80vh min-content min-content repeat(3, min-content);
        grid-template-columns: [full-start] minmax(6rem, 1fr)
        [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end]
        minmax(6rem, 1fr) [full-end];
    }

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: 6rem calc(100vh - 6rem);
        
    }
}