.email {

    background-color: $color-grey-dark-1;

    display: grid;

    grid-column: full-start / full-end;
    
    align-items: center;
    
    justify-items: center;

    

    



    

    &__btn {
        margin: 20px 20px;
        width: 27%;
        text-align: center;

        align-items: center;
    
        justify-items: center;

    }
}



